<div class="column">
    <nav class="panel">
       <div class="panel-heading">Who to Follow</div>
       <% @users.each do |user| %>
        <% if user != current_user %>
        <div class="panel-block">
            <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong><%= user.name %></strong><br />
                        <small>@<%= user.username %></small>
                    </p>
                    <p class="control">
                        <%= link_to root_path, class: 'button is-danger is-outlined has-text-grey-darker' do %>
                        <span class="icon has-text-grey-darker">
                        <i class="far fa-heart"></i>
                        </span>
                        <span>follow</span>
                        <% end %>
                    </p>
                </div>
           </div>
            </article>
        </div>
        <% end %>
    <% end %>
    </nav>
</div>